.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border: 1px solid #333;
  line-height: 40px;
  height: auto;
  max-width: 1080px;
  margin: 0 auto;
}

.manage-section {
  border: 1px solid #333;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  text-align: center;
}

body {
  font-family: sans-serif;
}